body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  max-width: 800px; /* Set your desired maximum width */
  width: 100%;
  margin: 0 auto; /* Center the container */
}
